<!doctype html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Simple Adapter Logging</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="<%= path_from_web_root('stylesheets/pure/pure-base-min.css') %>">
    <link rel="stylesheet" href="<%= path_from_web_root('stylesheets/pure/pure-grids-responsive-min.css') %>">
    <link rel="stylesheet" href="<%= path_from_web_root('stylesheets/pure/buttons-min.css') %>">
    <link rel="stylesheet" href="<%= path_from_web_root('stylesheets/adalog.css') %>">
    <link rel="stylesheet" href="<%= path_from_web_root('stylesheets/entries-list.css') %>">

    <script src="<%= path_from_web_root('javascripts/adalog.js') %>"></script>
    <script src="<%= path_from_web_root('javascripts/vanilla-js.js') %>"></script>
    <script src="<%= path_from_web_root('javascripts/entries-list.js') %>"></script>
  </head>
  <body>

    <%= yield %>

  </body>
</html>
